.specificite {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    .cards {
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @media screen and (max-width: $breakpoint-sm) {
            grid-template-columns: 1fr;
        }
        gap: 20px;
        li {
            font-size: var(--font-size-p);
            list-style-type: none;
            @media screen and (max-width: $breakpoint-sm) {
                font-size: 14px;
            }
        }
        h3 {
            font-size: var(--font-size-h3);
            margin: 0;
            @media screen and (max-width: $breakpoint-sm) {
                font-size: 24px;
            }
        }
    }
    h2 {
        padding-top: 50px;
        font-size: var(--font-size-h2);
        @media screen and (max-width: $breakpoint-md) {
            font-size: 36px;
        }
        @media screen and (max-width: $breakpoint-sm) {
            font-size: 32px;
        }
    }
}
