.descriptions {
    color: var(--color-primary);
    p,
    li {
        font-size: var(--font-size-p);
        @media screen and (max-width: $breakpoint-ml) {
            font-size: 18px;
        }
        @media screen and (max-width: $breakpoint-sm) {
            font-size: 14px;
        }
    }
    h2 {
        font-size: var(--font-size-h2);
        @media screen and (max-width: $breakpoint-sm) {
            font-size: 36px;
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}
