{% include '_partials/_header.html' %}
<div class="credit">
    <div class="wrapper">
        <h2>Équipe JAMS-F</h2>
        
            <div class="equipier">
                <h3>Fréderic Lagacé</h3>
                <ul>
                    <li>Programmation</li>
                    <li>Intégration</li>
                    
                </ul>
            </div>

            <div class="equipier">
                <h3>Fréderic Lagacé</h3>
                <ul>
                    <li>Programmation</li>
                    <li>Intégration</li>
                    
                </ul>
            </div>

            <div class="equipier">
                <h3>Fréderic Lagacé</h3>
                <ul>
                    <li>Programmation</li>
                    <li>Intégration</li>
                    
                </ul>
            </div>

            <div class="equipier">
                <h3>Fréderic Lagacé</h3>
                <ul>
                    <li>Programmation</li>
                    <li>Intégration</li>
                    
                </ul>
            </div>

            <div class="equipier">
                <h3>Fréderic Lagacé</h3>
                <ul>
                    <li>Programmation</li>
                    <li>Intégration</li>
                    
                </ul>
            </div>

    </div>
</div>
{% include '_partials/_footer.html' %}