{% include '_partials/_header.html' %}

<section class="hero_accueil">
    <div class="wrapper">
        <img src="assets/images/hero_accueil.png" alt="img hero" />
        <h1 data-scrolly="fromLeft">Hydrobouffe</h1>
        <p data-scrolly="fromLeft">Le déshydrateur et hydrateur alimentaire révolutionnaire!</p>
        <div class="btn" data-scrolly="fromBottom">
            <a href="tpl-modeles.html">Acheter</a>
        </div>
    </div>
</section>

<section class="description">
    <div class="wrapper">
        <h2 data-scrolly="fromLeft">Hydrobouffe, c'est quoi?</h2>
        <p data-scrolly="fromRight">
            C'est une véritable révolution dans votre cuisine, conçue pour préserver la fraîcheur et la saveur de vos
            aliments tout en éliminant complètement l'humidité indésirable. Plus besoin de jeter des aliments gorgés
            d'eau, car Hydrobouffe les transforme en délices secs qui se conservent plus longtemps sans compromettre
            leur qualité.
        </p>
    </div>
</section>

<section class="partenaires">
    <div class="wrapper">
        <h2 data-scrolly="fromLeft">Nos partenaires</h2>
        <div class="cards">
            <div class="card" data-scrolly="fromLeft">
                <img src="assets/images/novawave.png" alt="img hero" />
            </div>
            <div class="card" data-scrolly="fromLeft">
                <img src="assets/images/plastiflex.png" alt="img hero" />
            </div>
            <div class="card" data-scrolly="fromLeft">
                <img src="assets/images/technofusion.png" alt="img hero" />
            </div>
            <div class="card" data-scrolly="fromLeft">
                <img src="assets/images/naturezen.png" alt="img hero" />
            </div>
            <div class="card" data-scrolly="fromLeft">
                <img src="assets/images/aluguys.png" alt="img hero" />
            </div>
            <div class="card" data-scrolly="fromLeft">
                <img src="assets/images/stellarglobe-technologies.png" alt="img hero" />
            </div>
            <div class="card" data-scrolly="fromLeft">
                <img src="assets/images/yeehaw-farms.png" alt="img hero" />
            </div>
            <div class="card" data-scrolly="fromLeft">
                <img src="assets/images/h2o-recherches.png" alt="img hero" />
            </div>
        </div>
    </div>
</section>
<section class="modeles">
    <div class="wrapper">
        <h2 data-scrolly="fromLeft">Nos modèles</h2>
        <div class="modele">
            <a href="single-modele.html" data-scrolly="fromRight">
                <div class="modele_content">
                    <img src="assets/images/imageDeBase.png" alt="img modele" />
                    <div class="modele__text">
                        <h3>Hydrobouffe x</h3>
                        <p>Découvrez le secret d'une alimentation saine et savoureuse</p>
                        <div class="btn">Voir plus</div>
                    </div>
                </div>
            </a>
            <a href="single-modele.html">
                <div class="modele_content" data-scrolly="fromRight">
                    <img src="assets/images/imageDeBase.png" alt="img modele" />
                    <div class="modele__text">
                        <h3>Hydrobouffe h2o</h3>
                        <p>Découvrez une nouvelle dimension de la préparation alimentaire avec</p>
                        <div class="btn">Voir plus</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="button_modeles">
            <a href="tpl-modeles.html" data-scrolly="fromRight">Voir tous les modèles</a>
        </div>
    </div>
</section>

<section class="equipe" >
    <div class="wrapper">
        <h2 data-scrolly="fromLeft">Notre équipe</h2>
        <div class="card__container" >
            <a href="single-membre.html" class="card" data-scrolly="fromRight">
                <img src="./assets/images/imageDeBase.png" alt="" />
                <div class="card__content">
                    <h3>Frédéric Lagacé</h3>
                    <p>CEO</p>
                </div>
            </a>
            <a href="single-membre.html" class="card" data-scrolly="fromRight">
                <img src="./assets/images/imageDeBase.png" alt="" />
                <div class="card__content">
                    <h3>Anthony Belleville</h3>
                    <p>Maître de la vapeur</p>
                </div>
            </a>
            <a href="single-membre.html" class="card" data-scrolly="fromRight">
                <img src="./assets/images/imageDeBase.png" alt="" />
                <div class="card__content">
                    <h3>Jessika Babeux-Hurst</h3>
                    <p>Vice-Présidente</p>
                </div>
            </a>
        </div>
        <div class="button__equipe" data-scrolly="fromBottom">
            <a href="tpl-equipe.html" >Voir toute l'équipe</a>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
