{% include '_partials/_header.html' %}
<section class="hero_accueil">
    <div class="wrapper single-modele">
    <img src="assets/images/hero_accueil.png" alt="img hero" />
        <h1>Hydrobouffe</h1>
        <p>le meilleur de sa catégorie. jamais vue sur le marché. 100% électrique.</p>
        <p>124.99$</p>
        <div class="btn">
            <a href="single-modele.html">Acheter</a>
        </div>
    </div>
</section>
<section class="descriptions">
    <div class="wrapper">
    <div class="description">
        <h2>Description</h2>
        <p>
            Hydrobouffe Z50 est bien plus qu'un simple déshydrateur alimentaire. C'est une véritable révolution dans
            votre cuisine, conçue pour préserver la fraîcheur et la saveur de vos aliments tout en éliminant
            complètement l'humidité indésirable. Plus besoin de jeter des aliments gorgés d'eau, car Hydrobouffe Z50 les
            transforme en délices secs qui se conservent plus longtemps sans compromettre leur qualité.
        </p>
    </div>
    <div class="caracteristiques">
        <h2>Les Caractéristiques</h2>
        <ul>
            <li>Conservation à Long Terme</li>
            <li>Extraction Maximale d'Eau</li>
            <li>Design Élégant et Facile à Utiliser</li>
        </ul>
    </div>
    <div class="fonctionalites">
        <h2>Les Fonctionnalités</h2>
        <ul>
            <li>Fonctionnement Silencieux</li>
            <li>Design Compact</li>
            <li>Minuterie Programmable</li>
        </ul>
    </div>
</div>
</section>

<section class="specificite">
    <div class="wrapper">
        <h2>Les spécifications de ce produit</h2>

        <div class="cards">
            <div class="card">
                <h3>Dimension:</h3>
                <ul>
                    <li>Largeur : 30 cm</li>
                    <li>Profondeur : 40 cm</li>
                    <li>Hauteur : 25 cm</li>
                    <li>Poids : 5,5 kg</li>
                </ul>
            </div>
            <div class="card">
                <h3>Puissance:</h3>
                <ul>
                    <li>Tension : 120 V/220 V (sélectionnable)</li>
                    <li>Fréquence : 50/60 Hz</li>
                </ul>
            </div>
            <div class="card">
                <h3>Minuterie:</h3>
                <ul>
                    <li>Minuterie programmable jusqu'à 24 heures</li>
                    <li>Arrêt automatique lorsque le temps est écoulé</li>
                </ul>
            </div>
            <div class="card">
                <h3>Matériaux:</h3>
                <ul>
                    <li>Plateaux en plastique sans BPA, convient aux aliments</li>
                </ul>
            </div>
            <div class="card">
                <h3>Polyvalence:</h3>
                <ul>
                    <li>
                        Convient à une variété d'aliments, y compris les fruits, les légumes, les viandes, les poissons,
                        les herbes, les épices, etc.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% include '_partials/_footer.html' %}
